{% extends 'layout/layout.twig' %}

{% block title %}Hubble Videos{% endblock %}

{% block description %}List of Videos from Hubble Space Telescope{% endblock %}

{% block main %}
{% if not videos %}
    {{ redirect('hubble') }}
{% endif %}

<main class="container-90tn-80sm">
    {{ include("front/hubble/videos/videosPagination.twig") }}

    <ul>
        {% for video in videos %}
            <li>
                <form method="post" 
                    action={{ url('hubble!video', {'id': video.id}) }}>
                    <label for="item">
                        {{ video.name }}
                    </label>
                    <input name="item" 
                        type="hidden" 
                        value="{{ video.id }}">
                    <br>
                    <input class="button-brown" 
                        type="submit" 
                        value="#{{ video.id }}" 
                        title="Watch the Video {{ video.name }} ({{ video.id }})">
                </form>
                <i class="fas fa-minus fa-lg"></i>
            </li>
        {% endfor %}
    </ul>

    {{ include("front/hubble/videos/videosPagination.twig") }}
</main>
{% endblock %}
