{% extends 'layout/layout.twig' %}

{% block title %}Hubble Video{% endblock %}

{% block description %}
    Video {{ video["id"] }} named {{ video["name"] }} from {{ video["mission"]|capitalize }} Mission
{% endblock %}

{% block main %}
    {% if not video %}
        {{ redirect('hubble') }}
    {% endif %}

    <main>
        <h2>{{ video["name"] }}</h2>

        <figure>
            <video class="bord-curve" controls>
                {% if video["html_5_video"] %}
                    <source src="{{ video["html_5_video"]["video_url"] }}" type="video/mp4">
                    <p>Sorry, your browser doesn't support embedded videos. <a href="{{ video["html_5_video"]["video_url"] }}">Here you can download it !</a></p>
                {% else %}
                    <source src="{{ video["video_files"]|first }}" type="video/mp4">
                    <p>Sorry, your browser doesn't support embedded videos. <a href="{{ video["video_files"]|first }}">Here you can download it !</a></p>
                {% endif %}
            </video>
            <figcaption class="align-justify">{{ video["short_description"]|raw }}</figcaption>
        </figure>

        <ul>
            <li>Collection : {{ cleanString(video["collection"]) }}</li>
            <li>Mission : {{ video["mission"]|capitalize }}</li>
        </ul>

        {% if video["credits"] %}
            <p>Credits : {{ video["credits"]|raw }}</p>
        {% endif %}
    </main>
{% endblock %}
