{% extends 'layout/layout.twig' %}

{% block title %}Hubble News{% endblock %}

{% block description %}List of Releases from Hubble Space Telescope{% endblock %}

{% block main %}
{% if not news %}
    {{ redirect('hubble') }}
{% endif %}

<main class="container-90tn-80sm">
    {{ include("front/hubble/news/newsPagination.twig") }}

    <ul>

    {% for release in news %}
        <li>
            <form method="post" 
                action={{ url('hubble!release', {'id': release.news_id}) }}>
                <label for="item">
                    {{ release.name }}
                </label>
                <input name="item" 
                    type="hidden" 
                    value="{{ release.news_id }}">
                <br>
                <input class="button-brown" 
                    type="submit" 
                    value="#{{ release.news_id }}" 
                    title="Watch the Release {{ release.name }} ({{ release.news_id }})">
            </form>
            <i class="fas fa-minus fa-lg"></i>
        </li>

    {% endfor %}

    </ul>

    {{ include("front/hubble/news/newsPagination.twig") }}
</main>
{% endblock %}
