{% extends 'layout/layout.twig' %}

{% block subtitle %}{{ release["name"] }}{% endblock %}

{% block summary %}{{ release["name"] }} published {{ release["publication"]|date("D d M Y") }} from {{ release["mission"]|capitalize }} Mission{% endblock %}

{% block main %}
    {% if not release %}
        {{ redirect('hubble') }}
    {% endif %}

    <main>
        <article itemscope itemtype="http://schema.org/ImageObject">
            <h2 itemprop="name">{{ release["name"] }}</h2>

            <figure>
                <a href="https:{{ release["keystone_image_2x"] }}" title="Clic to Watch in Full Size" itemprop="image">
                    <img class="bord-curve" src="https:{{ release["thumbnail_2x"] }}" alt="Thumbnail of the Release {{ release["news_id"] }}" itemprop="thumbnail">
                </a>
                <figcaption class="align-justify" itemprop="description">{{ release["abstract"]|raw }}</figcaption>
            </figure>

            <ul>
                <li>
                    <a href="{{ release["url"] }}" target="_blank" rel="noopener noreferrer" title="Clic to Watch the Release Page" itemprop="contentUrl">
                        Release : {{ release["news_id"] }}
                    </a>
                </li>
                <li itemprop="datePublished">Publication : {{ release["publication"]|date("D d M Y") }}</li>
                <li>Mission : {{ release["mission"]|capitalize }}</li>
            </ul>

            {% if release["credits"] %}
                <p itemprop="author">Credits : {{ release["credits"]|raw }}</p>
            {% endif %}
        </article>
    </main>
{% endblock %}
