{% extends 'layout/layout.twig' %}

{% block title %}Hubble Space Telescope{% endblock %}

{% block description %}Hubble Data Type Selection{% endblock %}

{% block main %}
    <main>
        <ul class="menu">
            <li>
                <a class="button-red btn-lg" href="{{ url('hubble!images', {'page': 1}) }}" title="Show Images">
                    Images
                </a>
            </li>
            <li>
                <a class="button-green btn-lg" href="{{ url('hubble!news', {'page': 1}) }}" title="Show News">
                    News
                </a>
            </li>
            <li>
                <a class="button-blue btn-lg" href="{{ url('hubble!videos', {'page': 1}) }}" title="Show Videos">
                    Videos
                </a>
            </li>
        </ul>
        
        <article itemscope itemtype="http://schema.org/ImageObject">
            <h2 itemprop="name">{{ hubble["name"] }}</h2>

            <figure>
                <a href="https:{{ hubble["keystone_image_2x"] }}" title="Clic to Watch in Full Size" itemprop="image">
                    <img class="bord-curve" src="https:{{ hubble["thumbnail_2x"] }}" alt="Thumbnail of the Release {{ hubble["news_id"] }}" itemprop="thumbnail">
                </a>
                <figcaption class="align-justify" itemprop="description">{{ hubble["abstract"]|raw }}</figcaption>
            </figure>

            <ul>
                <li>
                    <a href="{{ hubble["url"] }}" target="_blank" rel="noopener noreferrer" title="Clic to Watch the Release Page" itemprop="contentUrl">
                        Hubble Release : {{ hubble["news_id"] }}
                    </a>
                </li>
                <li itemprop="datePublished">Publication : {{ hubble["publication"]|date("D d M Y") }}</li>
                <li>Mission : {{ hubble["mission"]|capitalize }}</li>
            </ul>

            {% if hubble["credits"] %}
                <p itemprop="author">Credits : {{ hubble["credits"]|raw }}</p>
            {% endif %}
        </article>

        <a class="button-purple" href="{{ url('hubble!glossary') }}" title="Show Glossary">
            <i class="fas fa-journal-whills fa-2x"></i> Glossary
        </a>
    </main>
{% endblock %}
