{% extends 'layout/layout.twig' %}

{% block title %}Hubble Images List{% endblock %}

{% block description %}List of Images from Hubble Space Telescope{% endblock %}

{% block main %}
{% if not images %}
    {{ redirect('hubble') }}
{% endif %}

<main class="container-90tn-80sm">
    {{ include("front/hubble/images/imagesPagination.twig") }}

    <ul>

    {% for image in images %}
        <li>
            <form method="post" 
                action={{ url('hubble!image', {'id': image.id}) }}>
                <label for="item">
                    {{ image.name }}
                </label>
                <input name="item" 
                    type="hidden" 
                    value="{{ image.id }}">
                <br>
                <input class="button-brown" 
                    type="submit" 
                    value="{{ image.id }}" 
                    title="Watch the Image {{ image.name }} ({{ image.id }})">
            </form>
            <i class="fas fa-minus fa-lg"></i>
        </li>
    {% endfor %}

    </ul>

    {{ include("front/hubble/images/imagesPagination.twig") }}
</main>
{% endblock %}
