{% extends 'layout/layout.twig' %}

{% block title %}Hubble{% endblock %}

{% block description %}Last Release from the Hubble Space Telescope & Tweets from the Hubble Teams{% endblock %}

{% block main %}
<nav class="menu">
    <a class="button-red" 
        href="{{ url('hubble!news', {'page': 1}) }}" 
        title="Show News">
        <i class="far fa-newspaper fa-2x onto-color-red"></i> 
        <span class="onto-color-red">
            News
        </span>
    </a>
    <a class="button-green" 
        href="{{ url('hubble!images', {'page': 1}) }}" 
        title="Show Images">
        <i class="far fa-image fa-2x onto-color-green"></i> 
        <span class="onto-color-green">
            Images
        </span>
    </a>
    <a class="button-blue" 
        href="{{ url('hubble!videos', {'page': 1}) }}" 
        title="Show Videos">
        <i class="fas fa-video fa-2x onto-color-blue"></i> 
        <span class="onto-color-blue">
            Videos
        </span>
    </a>
</nav>

<main class="container-90sm-80md">
    <article itemscope 
        itemtype="http://schema.org/ImageObject">
        <h2 itemprop="name">
            {{ hubble["name"] }}
        </h2>

        <figure>
            <a href="https:{{ hubble["keystone_image_2x"] }}" 
                title="Clic to Watch in Full Size" 
                itemprop="image">
                <img class="bord-curve" 
                    src="https:{{ hubble["thumbnail_2x"] }}" 
                    alt="Thumbnail of the Release {{ hubble["news_id"] }}" 
                    itemprop="thumbnail">
            </a>
            <figcaption class="align-justify mar-lg" 
                itemprop="description">
                {{ hubble["abstract"]|raw }}
            </figcaption>
        </figure>

        <ul>
            <li>
                <a href="{{ hubble["url"] }}" 
                    title="Clic to Watch the Release Page" 
                    itemprop="contentUrl">
                    Hubble Release : {{ hubble["news_id"] }}
                </a>
            </li>
            <li itemprop="datePublished">
                Publication : 
                {{ hubble["publication"]|date("D d M Y") }}
            </li>
            <li>
                Mission : 
                {{ cleanString(hubble["mission"]) }}
            </li>
        </ul>

    {% if hubble["credits"] %}
        <p itemprop="author">
            Credits : 
            {{ hubble["credits"]|raw }}
        </p>
    {% endif %}

    </article>
</main>
{% endblock %}
