{% extends 'layout/layout.twig' %}

{% block title %}Add a New Map{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<main>
    <form class="form" 
        method="post" 
        action={{ url('map!create') }} 
        enctype="multipart/form-data">
        <input type="hidden" 
            name="MAX_FILE_SIZE" 
            value="50000000">
        <fieldset>
            <legend>
                <i class="far fa-map fa-2x"></i>
            </legend>
            <ul>
                <li>
                    <label for="file">
                        Picture (max 50Mo)
                    </label>
                    <input name="file" 
                        type="file" 
                        accept=".jpg" 
                        required>
                </li>
                <li>
                    <label for="description">
                        Description
                    </label>
                    <textarea id="description" 
                        name="description" 
                        rows="3" 
                        maxlength="120" 
                        placeholder="Map Description"
                        required></textarea>
                </li>
                <li>
                    <label for="atlas_id">
                        Atlas
                    </label>
                    <select id="atlas_id" 
                        name="atlas_id"
                        required>

                        <option value="">
                            -- Select an Atlas
                        </option>

                    {% for atlas in atlases %}
                        <option value="{{ atlas.id }}" 
                            title="Made by {{ atlas.author_name }}">
                            {{ atlas.published_year|trim('0', 'left') }} : 
                            {{ atlas.atlas_name }}
                        </option>
                    {% endfor %}

                    </select>
                </li>
            </ul>
            <ul>
                <li>
                    <input type="reset" value="Reset">
                    <input type="submit" value="Create">
                </li>
            </ul>
        </fieldset>
    </form>
    <a class="btn-black btn-lg" href="{{ url('admin') }}">Quit</a>
</main>
{% endblock %}
