{% extends 'layout/layout.twig' %}

{% block title %}Astronomy{% endblock %}

{% block description %}Homepage of Astronomy{% endblock %}

{% block main %}
    <main>
        <h2>Picture of the Day</h2>

        <figure class="container-90md-80lg-70wd">
            <a href="{{ apod["hdurl"] }}" title="Clic to See in HD !">
                <img class="bord-curve" src="{{ apod["url"] }}" alt="Astronomy Picture Of the Day">
            </a>
            <figcaption>
                <h3>{{ apod["title"] }} ({{ apod["date"] }})</h3>
                <p class="align-justify">{{ apod["explanation"] }}</p>
            </figcaption>
        </figure>
    </main>
{% endblock %}
