<section class="menu-target3">
    <h2>
        <i class="far fa-map"></i> 
        Maps
    </h2>

    <a class="btn-green btn-lg" 
        href="{{ url('map!create') }}">
        New Map
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>Map</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>

        {% for map in maps %}
            <tr>
                <td>
                    <a class="button-blue" 
                        href="img/atlas/{{ map.map_name}}.jpg" 
                        title="Clic to Watch the Map">
                        {{ map.map_name }}
                    </a>
                </td>
                <td>
                    <a class="button-violet"
                        href="{{ url('atlas!read', {'id': map.atlas_id}) }}"
                        title="Clic to Watch the Atlas #{{ map.atlas_id }}">
                        {{ map.description }}
                    </a>
                    <br>
                    <a class="btn-blue" 
                        href="{{ url('map!update', {'id': map.id}) }}">
                        <i class="fas fa-pen-square fa-fw fa-lg"></i>
                    </a>
                    <a class="btn-red" 
                        href="{{ url('map!delete', {'id': map.id}) }}">
                        <i class="fas fa-times-circle fa-fw fa-lg"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</section>
