<section class="menu-target2">
    <h2>
        <i class="fas fa-atlas"></i> 
        Atlas
    </h2>

    <a class="btn-green btn-lg" 
        href="{{ url('atlas!create') }}">
        New Atlas
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>Atlas</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

        {% for atlas in atlases %}
            <tr>
                <td>

                {% if atlas.atlas_wiki %}
                    <a class="button-green"
                        href="https://en.wikipedia.org/wiki/{{ atlas.atlas_wiki }}"
                        title="Wikipedia Atlas Page">
                        {{ atlas.atlas_name }} 
                        ({{ atlas.published_year|trim('0', 'left') }})
                    </a>

                {% else %}
                    {{ atlas.atlas_name }} 
                    ({{ atlas.published_year|trim('0', 'left') }})
                {% endif %}

                </td>
                <td>

                {% if atlas.author_wiki %}
                    <a class="button-violet"
                        href="https://en.wikipedia.org/wiki/{{ atlas.author_wiki }}"
                        title="Wikipedia Author Page">
                        {{ atlas.author_name }}
                    </a>

                {% else %}
                    {{ atlas.author_name }}
                {% endif %}

                </td>
                <td>
                    <a class="btn-blue" 
                        href="{{ url('atlas!update', {'id': atlas.id}) }}">
                        <i class="fas fa-pen-square fa-fw fa-lg"></i>
                    </a>
                    <a class="btn-red" 
                        href="{{ url('atlas!delete', {'id': atlas.id}) }}">
                        <i class="fas fa-times-circle fa-fw fa-lg"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</section>
