<section class="menu-target1">
    <h2>
        <i class="far fa-star"></i> 
        Constellations
    </h2>

    <table class="table">
        <thead>
            <tr>
                <th>Constellation</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>

        {% for constellation in constellations %}
            <tr>
                <td>
                    <a href="img/constellation/{{ constellation.name}}.jpg" 
                        title="Clic to Watch">
                        <figure>
                            <img class="bord-gray bord-sm"
                                src="img/thumbnails/tn_{{ constellation.name }}.jpg"
                                alt="Screenshot of the constellation 
                                    {{ constellation.name|replace({'-': ' '})|title }}">
                        </figure>
                    </a>
                    {{ constellation.name|replace({'-': ' '})|title }}
                </td>
                <td>
                    {{ constellation.description }}
                    <br>
                    <a class="btn-blue" 
                        href="{{ url('constellation!update', {'id': constellation.id}) }}">
                        <i class="fas fa-pen-square fa-fw fa-lg"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</section>
