<article class="menu-target2">
    <h3>Celestial Atlases from 964 to 1869</h3>

    <ul class="fluid-2sm-3lg-4wd">
        {% for map in demoMaps %}
            <li>
                <a class="btn-navy cursor-cross"
                   href="{{ url('atlas!read', {'id': map.atlas_id}) }}"
                   title="Watch the Atlas : {{ map.atlas_name }} made in {{ map.published_year }}">
                    <figure class="button-navy">
                        <img src="img/thumbnails/tn_{{ map.map_name }}.jpg" alt="Chart of {{ map.atlas_name }}">
                        <figcaption>{{ map.atlas_name|replace({'-': ' '})|title }}<br>({{ map.published_year|trim('0', 'left') }})</figcaption>
                    </figure>
                </a>
            </li>
        {% endfor %}
    </ul>
</article>
