{% extends 'layout/layout.twig' %}

{% block title %}{{ atlas.atlas_name }}{% endblock %}

{% block description %}Gallery of {{ atlas.atlas_name }} made by {{ atlas.author_name }}{% endblock %}

{% block main %}
<main class="container-90sm-80lg">
    <header>

    {% if atlas.atlas_wiki %}
        <a class="button-green cursor-help"
            href="https://en.wikipedia.org/wiki/{{ atlas.atlas_wiki }}"
            title="Atlas's Wiki : {{ atlas.atlas_name }} made in {{ atlas.published_year }}">
            <i class="fas fa-atlas fa-lg"></i>
            {{ atlas.atlas_name }}
        </a>
    {% endif %}

    {% if atlas.author_wiki %}
        <a class="button-violet cursor-help"
            href="https://en.wikipedia.org/wiki/{{ atlas.author_wiki }}"
            title="Author's Wiki : {{ atlas.author_name }}">
            <i class="far fa-user fa-lg"></i>
            {{ atlas.author_name }}
        </a>
    {% endif %}

    </header>

    <section>
        <h2>
            {{ atlas.author_name}} 
            ({{ atlas.published_year|trim('0', 'left') }})
        </h2>

        <ul class="grid-2sm-3lg-4wd pad-top-lg" itemscope itemtype="https://schema.org/CreativeWork">
            
            {% for key, map in atlasMaps %}
                <li>
                    <a class="cursor-cross button-blue"
                       href="img/atlas/{{ map.map_name}}.jpg"
                       title="Clic to Watch {{ map.description}} in Full Page"
                       itemprop="image">
                        <figure>
                            <img src="img/thumbnails/tn_{{ map.map_name }}.jpg"
                                 alt="{{ atlas.atlas_name }} board n°{{ key + 1 }}"
                                 itemprop="thumbnailUrl">
                            <figcaption itemprop="description">{{ map.description }}</figcaption>
                        </figure>
                    </a>
                </li>
            {% endfor %}

        </ul>
    </section>
</main>
{% endblock %}
