{% extends 'layout/layout.twig' %}

{% block title %}Atlases{% endblock %}

{% block description %}
Aladin Interactive Sky Atlas from CDS,
colorful celestial maps covering a period of almost a thousand years,
as well as Wikipedia links for some atlases and authors.
{% endblock %}

{% block main %}
<main>
    <article>
        <h2>Celestial Atlases from 964 to 1869</h2>

        <ul class="flex">

            {% for map in demoMaps %}
                <li>
                    <a class="button-primary cursor-cross"
                       href="{{ url('atlas!read', {'id': map.atlas_id}) }}"
                       title="Watch the Atlas : {{ map.atlas_name }} made in {{ map.published_year }}">
                        <figure>
                            <img src="img/thumbnails/tn_{{ map.map_name }}.jpg" 
                            alt="Chart of {{ map.atlas_name }}">
                            <figcaption>
                                {{ map.atlas_name|replace({'-': ' '})|title }}
                                <br>
                                ({{ map.published_year|trim('0', 'left') }})
                            </figcaption>
                        </figure>
                    </a>
                </li>
            {% endfor %}

        </ul>
    </article>
</main>
{% endblock %}
