{% extends 'layout/layout.twig' %}

{% block title %}{{ constellation.name|replace({'-': ' '})|title }}{% endblock %}

{% block description %}Constellation {{ constellation.name|replace({'-': ' '})|title }}{% endblock %}

{% block main %}
<main>

    {% if constellation.description %}
    <header class="head">
        <h2 class="mar-sm">
            History of 
            {{ constellation.name|replace({'-': ' '})|title }}
        </h2>
        <p class="pad-md align-justify">
            {{ constellation.description }}
        </p>
    </header>
    {% endif %}

    <figure class="mar-lg">
        <img class="bord-curve" 
            src="img/constellation/{{ constellation.name }}.jpg" 
            alt="Chart of {{ constellation.name }}">
    </figure>
</main>
{% endblock %}
