{% extends 'layout/layout.twig' %}

{% block title %}Astronomy{% endblock %}

{% block description %}Picture of the Day{% endblock %}

{% block main %}
<main>
    <article>
        <h2>Picture of the Day</h2>

        <figure>

        {% if apod["hdurl"] %}
            <a href="{{ apod["hdurl"] }}" 
                title="Clic to See in HD !">
                <img class="bord-curve" 
                    src="{{ apod["url"] }}" 
                    alt="Astronomy Picture Of the Day">
            </a>

        {% else %}
            <iframe class="bord-curve width-lg height-md" 
                src="{{ apod["url"] }}" 
                allowfullscreen>
            </iframe>
        {% endif %}

            <figcaption class="container-90tn-80md-60lg-50wd">
                <h3>
                    {{ apod["title"] }} ({{ apod["date"] }})
                </h3>
                <p class="align-justify">
                    {{ apod["explanation"] }}
                </p>
            </figcaption>
        </figure>
    </article>
</main>
{% endblock %}
