{% extends 'layout/layout.twig' %}

{% block subtitle %}Welcome{% endblock %}

{% block summary %}Picture of the Day & Tweets from NASA{% endblock %}

{% block script %}<script src="https://platform.twitter.com/widgets.js"></script>{% endblock %}

{% block main %}
    <input id="menu-radio1" class="menu-radio1" type="radio" name="menu" checked>
    <input id="menu-radio2" class="menu-radio2" type="radio" name="menu">

    <nav class="menu">
        <label class="button-red" for="menu-radio1" title="Astronomy Picture Of the Day">
            <i class="far fa-image color-red-into"></i>
            <span class="color-red-into">Picture</span>
        </label>
        <label class="button-tw" for="menu-radio2" title="Nasa Tweets">
            <i class="fab fa-twitter color-tw-into"></i>
            <span class="color-tw-into">Tweets</span>
        </label>
    </nav>

    <main class="menu-relay">
        <article class="menu-target1">
            <h2>Picture of the Day</h2>

            <figure>

                {% if apod["hdurl"] %}
                    <a href="{{ apod["hdurl"] }}" title="Clic to See in HD !">
                        <img class="bord-curve" src="{{ apod["url"] }}" alt="Astronomy Picture Of the Day">
                    </a>
                {% else %}
                    <iframe class="bord-curve width-lg height-md" src="{{ apod["url"] }}" allowfullscreen></iframe>
                {% endif %}

                <figcaption class="container-90tn-80sm-70md-60lg-50wd">
                    <h3>{{ apod["title"] }} ({{ apod["date"] }})</h3>
                    <p class="align-justify">{{ apod["explanation"] }}</p>
                </figcaption>
            </figure>
        </article>

        <article class="menu-target2">
            <h2>NASA Tweets</h2>

            <ul class="row">
                <li>
                    <a class="twitter-timeline"
                       href="https://twitter.com/apod"
                       data-theme="dark"
                       data-width="300">
                        Tweets by @apod
                    </a>
                </li>
                <li>
                    <a class="twitter-timeline"
                       href="https://twitter.com/NASA"
                       data-theme="dark"
                       data-width="300">
                        Tweets by @NASA
                    </a>
                </li>
                <li>
                    <a class="twitter-timeline"
                       href="https://twitter.com/NASAJPL"
                       data-theme="dark"
                       data-width="300">
                        Tweets by @NASAJPL
                    </a>
                </li>
            </ul>
        </article>
    </main>
{% endblock %}
