{% extends 'layout/layout.twig' %}

{% block title %}{{ image["name"] }}{% endblock %}

{% block description %}
{{ image["name"] }} from 
{{ image["mission"]|capitalize }} Mission & 
{{ getString(image["collection"]) }} Collection
{% endblock %}

{% block main %}
{% if not image %}
    {{ redirect('hubble') }}
{% endif %}

<main class="container-90sm-80md"
    itemscope 
    itemtype="http://schema.org/ImageObject">

    <figure>
        <a href="https:{{ image["image_files"]|last }}" 
            title="Clic to Watch in Full Size" 
            itemprop="contentUrl">
            <img class="bord-curve" 
                src="https:{{ image["image_files"]|first }}" 
                alt="Thumbnail of the Image {{ image["id"] }}" 
                itemprop="thumbnail">
        </a>
        <figcaption class="align-justify mar-lg" 
            itemprop="description">
            {{ image["description"]|raw }}
        </figcaption>
    </figure>

    <ul>
        <li itemprop="isPartOf">
            Collection : 
            {{ getString(image["collection"]) }}
        </li>
        <li>
            Mission : 
            {{ getString(image["mission"]) }}
        </li>
    </ul>

{% if image["credits"] %}
    <p itemprop="author">
        Credits : 
        {{ image["credits"]|raw }}
    </p>
{% endif %}

</main>
{% endblock %}
