{% extends 'layout/layout.twig' %}

{% block title %}{{ video["name"] }}{% endblock %}

{% block description %}
{{ video["name"] }} from 
{{ video["mission"]|capitalize }} Mission & 
{{ getString(video["collection"]) }} Collection
{% endblock %}

{% block main %}
{% if not video %}
    {{ redirect('hubble') }}
{% endif %}

<main class="container-90sm-80md" 
    itemscope 
    itemtype="http://schema.org/VideoObject">

    <figure>
        <video class="bord-curve" 
            controls>

            {% if video["html_5_video"] %}
                <source src="{{ video["html_5_video"]["video_url"] }}" 
                    type="video/mp4" 
                    itemprop="contentUrl">
                <p>
                    Sorry, your browser doesn't support embedded videos. 
                    <a href="{{ video["html_5_video"]["video_url"] }}" 
                        itemprop="contentUrl">
                        Here you can download it !
                    </a>
                </p>
            
            {% else %}
                <source src="{{ video["video_files"]|first }}" 
                    type="video/mp4" 
                    itemprop="contentUrl">
                <p>
                    Sorry, your browser doesn't support embedded videos. 
                    <a href="{{ video["video_files"]|first }}" 
                        itemprop="contentUrl">
                        Here you can download it !
                    </a>
                </p>
            {% endif %}

        </video>
        <figcaption class="align-justify mar-lg" 
            itemprop="description">
            {{ video["short_description"]|raw }}
        </figcaption>
    </figure>

    <ul>
        <li itemprop="isPartOf">
            Collection : 
            {{ getString(video["collection"]) }}
        </li>
        <li>
            Mission : 
            {{ getString(video["mission"]) }}
        </li>
    </ul>

{% if video["credits"] %}
    <p itemprop="author">
        Credits : 
        {{ video["credits"]|raw }}
    </p>
{% endif %}

</main>
{% endblock %}
