{% extends 'layout/layout.twig' %}

{% block title %}{{ release["name"] }}{% endblock %}

{% block description %}
{{ release["name"] }} published 
{{ release["publication"]|date("D d M Y") }} from 
{{ release["mission"]|capitalize }} Mission
{% endblock %}

{% block main %}
{% if not release %}
    {{ redirect('hubble') }}
{% endif %}

<main class="container-90sm-80md" 
    itemscope 
    itemtype="http://schema.org/ImageObject">

    <figure>
        <a href="https:{{ release["keystone_image_2x"] }}" 
            title="Clic to Watch in Full Size" 
            itemprop="image">
            <img class="bord-curve" 
                src="https:{{ release["thumbnail_2x"] }}" 
                alt="Thumbnail of the Release {{ release["news_id"] }}" 
                itemprop="thumbnail">
        </a>
        <figcaption class="align-justify mar-lg" 
            itemprop="description">
            {{ release["abstract"]|raw }}
        </figcaption>
    </figure>

    <ul>
        <li>
            <a href="{{ release["url"] }}" 
                title="Clic to Watch the Release Page" 
                itemprop="contentUrl">
                Release : {{ release["news_id"] }}
            </a>
        </li>
        <li itemprop="datePublished">
            Publication : 
            {{ release["publication"]|date("D d M Y") }}
        </li>
        <li>
            Mission : 
            {{ cleanString(release["mission"]) }}
        </li>
    </ul>

    {% if release["credits"] %}
        <p itemprop="author">
            Credits : 
            {{ release["credits"]|raw }}
        </p>
    {% endif %}

</main>
{% endblock %}
