{% extends "layout/layout.twig" %}

{% block title %}Mars{% endblock %}

{% block description %}Mars Rovers Photos : Perseverance, Curiosity, Opportunity, Spirit{% endblock %}

{% block main %}
<main class="mar-bot-lg">
    <article>
        <h2>Rovers Photos</h2>

        <form class="form" 
            method="post" 
            action="{{ url('mars') }}">
            <fieldset>
                <legend>
                    <i class="fas fa-robot fa-2x"></i>
                </legend>
                <ul>
                    <li>
                        <label for="rover">
                            Rover
                        </label>
                        <select id="rover" 
                            name="rover">
                            <option value="{{ params.rover }}"> 
                                {{ params.rover|capitalize }} (selected)
                            </option>
                            <option value="">
                                -- Select a Rover
                            </option>
                            <option value="perseverance">
                                Perseverance : 2021 - XXXX
                            </option>
                            <option value="curiosity">
                                Curiosity : 2012 - 2026 (estimated)
                            </option>
                            <option value="opportunity">
                                Opportunity : 2004 - 2018
                            </option>
                            <option value="spirit">
                                Spirit : 2004 - 2010
                            </option>
                        </select>
                    </li>
                    <li>
                        <label for="date">
                            Earth Date
                        </label>
                        <input id="date" 
                            name="date" 
                            type="date" 
                            value="{{ params.date }}" 
                            min="2004-01-05" 
                            required>
                    </li>
                    <li>
                        <input type="submit" 
                            value="Search">
                    </li>
                </ul>
            </fieldset>
        </form>

        <section>
            <h3>
                {{ mars[0]["rover"]["name"] }} 
                ({{ mars[0]["earth_date"] }})
            </h3>

            <figure class="gallery">

                {% for photo in mars %}
                    <figure>
                        <a href="{{ photo["img_src"] }}" 
                            title="Clic to Enlarge">
                            <img src="{{ photo["img_src"] }}" 
                                alt="Mars Rover Photo #{{ photo["id"] }}">
                            <figcaption>
                                {{ photo["camera"]["name"] }}
                            </figcaption>
                        </a>
                    </figure>
                {% endfor %}

            </figure>
        </section>
    </article>
</main>
{% endblock %}
