{% extends 'layout/layout.twig' %}

{% block title %}{{ getGet("id") }}{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<main>
    <a class="btn-primary"
        href="{{ url("nasa") }}"
        title="Go back to Search Page">
        <i class="fas fa-backward fa-2x"></i>
    </a>

    {% if items[0]["href"][-4:] == ".mp4" %}
        <video class="bord-curve" 
            controls>
            <source src="{{ items[0]["href"] }}" 
                type="video/mp4" 
                itemprop="contentUrl">
            <p>
                Sorry, your browser doesn't support embedded videos. 
                <a href="{{ items[0]["href"] }}" 
                    itemprop="contentUrl">
                    Here you can download it !
                </a>
            </p>
        </video>
    {% else %}
        <figure>
            <img src="{{ items[0]["href"] }}"
                alt="#">
        </figure>
    {% endif %}
</main>
{% endblock %}
