{% extends 'layout/layout.twig' %}

{% block title %}Nasa{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<main>
    <form class="form" 
        method="post" 
        action="{{ url('nasa') }}">
        <fieldset>
            <ul>
                <li>
                    <input id="search" 
                        name="search" 
                        type="text"
                        placeholder="Type the research you want !">
                </li>
                <li>
                    <input type="submit" 
                        value="Search">
                </li>
            </ul>
        </fieldset>
    </form>
    <ul class="grid-2lg-4wd">

        {% for item in items %}
            <li>
                <a href="{{ url('nasa!asset', {'id': item["data"][0]["nasa_id"]}) }}"
                    title="{{ item["data"][0]["description"] }}">
                    <section class="card-primary" 
                        title="{{ item["data"][0]["description"] }}">
                        <img src="{{ item["links"][0]["href"] }}" 
                            alt="{{ item["data"][0]["description_508"] }}">
                        <h3>{{ getString(item["data"][0]["title"]) }}</h3>
                        <p>{{ getString(item["data"][0]["description"]) }}</p>
                    </section>
                </a>
            </li>             
        {% endfor %}

    </ul>
</main>
{% endblock %}
