{% extends 'layout/layout.twig' %}

{% block title %}Neo{% endblock %}

{% block description %}Near Earth Object Web Service{% endblock %}

{% block main %}
<main>
    <h2>Near Earth Object</h2>

    <form class="form" 
        method="post" 
        action={{ url('neo') }}>
        <fieldset>
            <legend>
                <i class="fas fa-meteor fa-2x"></i>
            </legend>
            <ul>
                <li>
                    <label for="start-date">
                        Start Date
                    </label>
                    <input id="start-date" 
                        name="start-date" 
                        type="date">
                </li>
                <li>
                    <label for="end-date">
                        End Date
                    </label>
                    <input id="end-date" 
                        name="end-date" 
                        type="date">
                </li>
                <li>
                    <input type="submit" 
                        value="Search">
                </li>
            </ul>
        </fieldset>
    </form>

    {% for day in neo|keys %}
        <section>
            <h3>{{ day }}</h3>

            <table class="table">
                <thead>
                <tr>
                    <th title="Object Name">
                        Name
                    </th>
                    <th title="Miss Distance (km)">
                        Miss (km)
                    </th>
                    <th title="Estimated Diameter (m)">
                        Diam (m)
                    </th>
                    <th title="Relative Velocity (km/h)">
                        Speed (km/h)
                    </th>
                    <th title="Absolute Magnitude">
                        Mag
                    </th>
                </tr>
                </thead>
                <tbody>

                {% for object in neo[day] %}
                    <tr>
                        <td>
                            <a class="cursor-cross 
                                {% if object["is_potentially_hazardous_asteroid"] %}
                                    button-red
                                {% else %}
                                    button-blue 
                                {% endif %}" 
                                href="{{ object["nasa_jpl_url"] }}" 
                                title="Watch the Jet Propulsion Laboratory Small-Body Database Browser">
                                {{ object["name"] }}
                            </a>
                        </td>
                        <td>
                            {{ object["close_approach_data"][0]["miss_distance"]["kilometers"]|number_format(0, '.', ' ') }}
                        </td>
                        <td>
                            {{ object["estimated_diameter"]["meters"]["estimated_diameter_min"]|number_format(0, '.', ' ') }} < {{ object["estimated_diameter"]["meters"]["estimated_diameter_max"]|number_format(0, '.', ' ') }}
                        </td>
                        <td>
                            {{ object["close_approach_data"][0]["relative_velocity"]["kilometers_per_hour"]|number_format(0, '.', ' ') }}
                        </td>
                        <td>
                            {{ object["absolute_magnitude_h"] }}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </section>
    {% endfor %}

</main>
{% endblock %}
