<nav class="navbar">
    <input id="navbar-close"
        class="navbar-close" 
        type="radio" 
        name="navbar" 
        checked>
    <input id="navbar-open" 
        class="navbar-open" 
        type="radio" 
        name="navbar">

    <a class="anima-slideB-this" 
        href="./" 
        title="Accueil">
        <img src="img/phi.svg" 
        alt="Logo Philippe"
        width="40"
        height="40">
    </a>

    <ul>
        <li>
            <a href="{{ url('atlas') }}" 
                title="Celestial Atlases">
                <i class="fas fa-atlas fa-lg fa-fw"></i>
                <span>Atlas</span>
            </a>
        </li>
        <li>
            <a href="{{ url('constellation') }}" 
                title="The Constellations">
                <i class="fas fa-star fa-lg fa-fw"></i>
                <span>Constellation</span>
            </a>
        </li>
        <li>
            <a href="{{ url('hubble') }}" 
                title="Hubble Space Telescope">
                <i class="fas fa-satellite fa-lg fa-fw"></i>
                <span>Hubble</span>
            </a>
        </li>
        <li>
            <a href="{{ url('mars') }}" 
                title="Mars Rovers Photos">
                <i class="fas fa-robot fa-lg fa-fw"></i>
                <span>Mars</span>
            </a>
        </li>
        <li>
            <a href="{{ url('neo') }}" 
                title="Near Earth Object">
                <i class="fas fa-meteor fa-lg fa-fw"></i>
                <span>Neo</span>
            </a>
        </li>
    </ul>

    <ul>
    
    {% if (checkUser()) %}
        <li>
            <a href="{{ url('admin') }}" 
                title="{{ getSession('name') }} Admin">
                <img class="bord-circle" 
                    src="img/user/{{ getSession('image') }}" 
                    alt="{{ getSession('name') }} Picture">
            </a>
        </li>
        <li>
            <a class="onto-color-red" 
                href="{{ url('auth!logout') }}" 
                title="Déconnexion">
                <i class="fas fa-sign-out-alt fa-lg"></i>
            </a>
        </li>

    {% else %}
        <li>
            <a class="onto-color-blue" 
                href="{{ url('contact') }}" 
                title="Contact">
                <i class="fas fa-at fa-lg fa-fw"></i>
            </a>
        </li>
        <li>
            <a class="onto-color-pink" 
                href="https://github.com/sponsors/philippebeck" 
                title="Sponsor">
                <i class="far fa-heart fa-lg fa-fw"></i>
            </a>
        </li>
        <li>
            <a class="onto-color-pp" 
                href="https://www.paypal.me/philippebeck" 
                title="Donation">
                <i class="fab fa-paypal fa-lg fa-fw"></i>
            </a>
        </li>
        <li>
            <a class="onto-color-orange" 
                href="{{ url('auth') }}" 
                title="Connexion">
                <i class="fas fa-sign-in-alt fa-lg fa-fw"></i>
            </a>
        </li>
    {% endif %}

    </ul>

    <label for="navbar-close" 
        title="Close the Navigation Menu">
        <i class="fas fa-angle-double-up fa-lg"></i>
    </label>
    <label for="navbar-open" 
        title="Open the Navigation Menu">
        <i class="fas fa-angle-double-down fa-lg"></i>
    </label>
</nav>
